html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 14pt;
	text-align: left;
	background: #efefef;
	color: #333;

}

#menu {
	-moz-box-shadow: 0px 5px 5px #666;
	-webkit-box-shadow: 0px 5px 5px #666;
	box-shadow: 0px 5px 5px #666;
	margin: 0px -1px;
}

#footer {
	-moz-box-shadow: 0px -5px 5px #666;
	-webkit-box-shadow: 0px -5px 5px #666;
	box-shadow: 0px -5px 5px #666;
}

#container {
	-moz-box-shadow: 2px 0px 5px #666;
	-webkit-box-shadow: 2px 0px 5px #666;
	box-shadow: 2px 0px 5px #666;
	
	min-height: 100%;
	position: relative;
	background: #e9d6ce;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

#header {
	background: #efefef;
	margin-bottom: -5px;
	margin: 0 -10px;
}
#header .logo {
	float: left;
	padding: 10px;
	width: 100px;
}
#header .title {
	font-size: 3em;
	color: #301e15;
}
#header .title .sub {
	font-size: 0.5em;
	position: relative;
	left: 1.5em;
	color: #aaa;
	font-style: italic;
}

#menu {
	background: #301e15;
	border-top: 1px solid #999;
/*	border-top: 2px solid #301e15;*/
}
#menu .main-menu {
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0px;
}
#menu .main-menu li{
	display:inline-block;
	width: 130px;
}

#menu .main-menu .active a{	
	font-weight: bold;
	color: #fff;
	cursor: default;
}

#menu .main-menu li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #f1e5e0;
}
#menu .main-menu li a:hover{
	color: #fff;
}	


#body {
	padding: 10px;
	padding-bottom: 60px;	
}

#body .content {
	padding: 10px;
	padding-bottom: 30px;
}

.content .inset {
	padding: 5px 20px;
	background: #f1e5e0;
	border: 1px dashed #301e15;
}

.content .spaced-top {
	margin-top: 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: #653f2c;
	color: #f1e5e0;
}

#footer .content {
	text-align: center;
	font-size: 0.8em;
	padding-top: 10px;
}
#footer .copyright {
	font-size: 0.9em;
}

#footer a {
	color: #f1e5e0;
}
#footer a:hover {
	color: #fff;
}


a {
	color: #333;
}

a:hover {
	color: #666;
}

h1, h2, h3, h4, h5 {
	margin: 0 0 0.2em 0;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
	font-weight: bold;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
.clr {
	clear: both;
}
.content ul {
	list-style: circle;
	margin-left: 20px;
	padding: 0px 0;
}
.content ul li {
	padding: 2px 0px;
}

p {
	padding: 10px 0px;
}



.breadcrumbs {
	font-size: 0.9em;
	margin: 5px 0px;
}
.breadcrumbs .folder{
	display: inline-block;
	background: url('../images/folder.png');
	width: 24px;
	height: 24px;
	margin: 0px 5px -3px 0px;
	background-repeat: no-repeat;
}

.breadcrumbs .crumb:after{
	content:">>";
	margin: 0px 5px 0px 10px;
	font-size: 0.7em;
}

.links a{
	margin: 0px 10px;
}

.forum-posts {
	width: 100%;
	border-collapse: collapse;
}
.forum-posts thead{
	font-weight: strong;
	color: #f1e5e0;
}

.forum-posts td, .forum-posts th{
	padding: 5px 10px;
}
.forum-posts thead, .forum-posts tfoot{
	border-right: 1px solid #301e15;
	background: #653f2c;
}
.forum-posts tbody{
	border-left: 1px dashed #301e15;
	border-right: 1px dashed #301e15;
	background: #f1e5e0;
}

.forum-posts tr:nth-child(even) {background: #e9d6ce;}

.forum-posts tbody .icon{
	vertical-align: middle;
}
.forum-posts tbody .icon span{
	background: url('../images/message.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	margin-left: 5px;
	display: block;
}

.forum-posts tfoot{
	font-size: 0.7em;	
}

.forum-posts tfoot, .forum-posts tfoot a{
	color: #f1e5e0;
}
.forum-posts tfoot a:hover{
	color: #fff;
}
.forum-posts .title {
	font-weight: bold;
}
.forum-posts .author {
	display:block;
	font-size: 0.8em;
	font-style: italic;
	margin-left: 10px;
}
.forum-posts .author a{
	font-style: normal;	
}
.forum-posts tbody tr:hover{
	background: #f9f4f2;
	cursor: pointer;
}

.num-people {
	font-weight: bold;
}

.submit {
	font-size: 1.1em;
	border: none;
	padding: 8px 5px;
	background: #653f2c;
	color: #F1E5E0;
	text-decoration: none;
	font-variant:normal;
	text-transform: uppercase;
	-moz-box-shadow: 2px 2px 5px #666;
	-webkit-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;
}

.submit:hover {
	color: #fff;
	cursor: pointer;
	background: #805038;
}
.submit:active {
	position: relative;
	left: 1px;
	top: 1px;
	-moz-box-shadow: 1px 1px 5px #666;
	-webkit-box-shadow: 1px 1px 5px #666;
	box-shadow: 1px 1px 5px #666;
}